{% extends "baseFrontOffice.html.twig" %}
        {% block CSS %}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link href="{{asset('frontOffice/css/bootstrap.min.css')}}" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link href="{{asset('frontOffice/css/tiny-slider.css')}}" rel="stylesheet">
		<link href="{{asset('frontOffice/css/style.css')}}" rel="stylesheet">
        <link href="{{asset('ProductForm/style.css')}}" rel="stylesheet">
        {% endblock %}
{% block title %}Update product{% endblock %}
{% block subheader %}
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Products</h1>
							</div>
						</div>
						<div class="col-lg-7">
							
						</div>
					</div>
				</div>
			</div>
{% endblock %}
{% block body %}
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <h3>Update Your Product</h3>
            <div class="card">
                  {{ form_start(formX,{'attr': {'novalidate': 'novalidate'}}) }}
                            {{ form_row(formX.titreProduit) }} 
                            {{ form_row(formX.descriptionProduit) }}
                            {{ form_row(formX.photo) }}
                            {{ form_row(formX.ville) }}
                            {{ form_row(formX.choixEchange) }}
                            {{ form_row(formX.etat) }}
                            {{ form_row(formX.prix) }}
                            {{ form_row(formX.categorie) }}
                            <div style="align: right;">
                            <button type="submit" class="green-button">Update Product </button>
                            </div>
                            {{ form_errors(formX) }}
                        {{ form_end(formX) }}

            </div>
        </div>
    </div>
</div>
{% endblock %}