{% extends "baseFrontOffice.html.twig" %}
{% block title %}Transactions
{% endblock %}
{% block subheader %}
	<div class="hero">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-lg-5">
					<div class="intro-excerpt">
						<h1>Transactions Table
						</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="card">
					<div class="card-header">
						Product Exchanges
					</div>
					<div class="card-body" style="background-color: white;">
						<table class="table table-striped">
							<thead class="table-dark">
								<tr>
									<th>Your Product
									</th>
									<th>Product Needed</th>
									<th>Date of the exchange</th>
									<th>Actions</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{% for transaction in productTransactions %}
									<tr>
										<td>{{ transaction.produitOut.getTitreProduit() }}</td>
										<td>{{ transaction.produitIn.getTitreProduit() }}</td>
										<td>{{ transaction.dateEchange ? transaction.dateEchange|date('Y-m-d H:i:s') : '' }}</td>
										{% if transaction.produitIn.getUtilisateur() == app.user %}
											<td>
												<a href="{{ path('app_echange_produit_transactions_validate', {'id': transaction.id}) }}">Yes</a>
												<form method="post" action="{{ path('app_echange_produit_delete', {'id': transaction.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
												<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ transaction.id) }}">
												<button class="btn btn-danger">No </button>
											</form>
											</td>
										{% else %}
											<td>Pending</td>
										{% endif %}
									</tr>
								{% endfor %}
								{% for transaction in pendingProducts %}
									<tr>
										<td>{{ transaction.produitIn.getTitreProduit() }}</td>
										<td>{{ transaction.produitOut.getTitreProduit() }}</td>
										<td>{{ transaction.dateEchange ? transaction.dateEchange|date('Y-m-d H:i:s') : '' }}</td>
										<td>
											<button class="btn btn-danger">Pending</button>
										</td>
										<td>
											<form method="post" action="{{ path('app_echange_produit_delete', {'id': transaction.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
												<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ transaction.id) }}">
												<button class="btn btn-danger">Delete</button>
											</form>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<br>
				<div class="card">
					<div class="card-header">
						Service Exchanges
					</div>
					<div class="card-body" style="background-color: white;">
						<table class="table table-striped">
							<thead class="table-dark">
								<tr>
									<th>Your Service
									</th>
									<th>Service Needed</th>
									<th>Date of the exchange</th>
									<th>Actions</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{% for transaction in serviceTransactions %}
									<tr>
										<td>{{ transaction.serviceOut.getTitreService() }}</td>
										<td>{{ transaction.serviceIn.getTitreService() }}</td>
										<td>{{ transaction.dateEchange ? transaction.dateEchange|date('Y-m-d H:i:s') : '' }}</td>
										{% if transaction.isValide  %}
											<td>
												<button class="btn btn-success">
													Exchange Validated
												</button>
											</td>
										{% else %}
											<td>
												<a class="btn btn-success" href="{{ path('app_echange_service_transactions_validate', {'id': transaction.id}) }}">Yes
												</a>
											</td>
											<td>
												<form method="post" action="{{ path('app_echange_service_delete', {'id': transaction.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
													<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ transaction.id) }}">
													<button class="btn btn-danger">No</button>
												</form>
											</td>
										{% endif %}
									</tr>
								{% endfor %}
								{% for transaction in pendingServices %}
									<tr>
										<td>{{ transaction.serviceIn.getTitreService() }}</td>
										<td>{{ transaction.serviceOut.getTitreService() }}</td>
										<td>{{ transaction.dateEchange ? transaction.dateEchange|date('Y-m-d H:i:s') : '' }}</td>
										{% if transaction.isValide  %}
											<td>
												<button class="btn btn-success">
													Exchange has Approved
												</button>
											</td>
										{% else %}
											<td>
												<button class="btn btn-danger">Exchange Pending</button>
											</td>
											<td>
												<form method="post" action="{{ path('app_echange_service_delete', {'id': transaction.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
													<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ transaction.id) }}">
													<button class="btn btn-danger">Delete</button>
												</form>
											</td>
										{% endif %}
									</tr>
								{% endfor %}
							</tbody>
						</table>
						<a href="{{ path('index') }}" class="btn btn-success mt-3">Back Home</a>
					</div>
				</div>
			</div>
		</div>

	</div>
<br><br><br><br>

{% endblock %}
