
{% block title %}Transaction Receipt{% endblock %}

{% block styles %}
  {# Include Bootstrap CSS #}
  <link href="{{asset('frontOffice/css/bootstrap.min.css')}}" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
	<link href="{{asset('frontOffice/css/tiny-slider.css')}}" rel="stylesheet">
	<link href="{{asset('frontOffice/css/style.css')}}" rel="stylesheet">
	<link href="{{asset('backOffice/css/style.css')}}" rel="stylesheet">
{% endblock %}


{% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-header bg-success text-white">
          <h4 class="m-0">Transaction Details</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <p class="font-weight-bold">Date: {{ echangeService.getDateEchange() | date("Y-m-d H:i:s") }}</p>
              <hr>
              <h5>Exchanged Item  </h5>
              <ul class="list-unstyled">
                <li><strong>Titre Service:</strong> {{ echangeService.ServiceIn.titreService }}</li>
                <li><strong>Photo:</strong> <img src="{{ asset('/uploads/services/' ~ echangeService.ServiceIn.photo) }}" alt="Service In Photo" class="img-fluid"></li>
                <li><strong>Ville:</strong> {{ echangeService.ServiceIn.ville }}</li>
                <li><strong>Categorie:</strong> {{ echangeService.ServiceIn.categorie.getNomCategorie() }}</li>
              </ul>
            </div>
            <div class="col-md-6">
              <h5>Item Given </h5>
              <ul class="list-unstyled">
                <li><strong>Titre Service:</strong> {{ echangeService.ServiceOut.titreService }}</li>
                <li><strong>Photo:</strong> <img src="{{ asset('/uploads/services/' ~ echangeService.ServiceOut.photo) }}" alt="Service Out Photo" class="img-fluid"></li>
                <li><strong>Ville:</strong> {{ echangeService.ServiceOut.ville }}</li>
                <li><strong>Categorie:</strong> {{ echangeService.ServiceOut.categorie.getNomCategorie() }}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-6">
              <!-- Electronic Signature Box -->
              <div class="form-group">
                <label for="electronicSignature">Electronic Signature:</label>
                <input type="text" class="form-control" id="electronicSignature">
              </div>
            </div>
            <div class="col-md-6 text-right">
            <br>
              <a href="{{ path('generate_pdf' ,{'id':echangeService.id }) }}" class="btn btn-primary" width="50px" height"50px">Download PDF</a>
              <a href="{{ path('app_screenshot', {'id': echangeService.id}) }}" class="btn btn-primary">ScreenShot Image</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br>
{% endblock %}
