{% extends "baseBackOffice.html.twig" %}
{% block title %}Details{% endblock %}
{% block body %}
<h1>Product Details</h1>


<style>
    .product-details-card {
        max-width: 400px;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        text-align: center; /* Center the content */
    }

    .carousel-item img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        margin: 20px auto;
    }

    h3, h5 {
        margin-bottom: 10px;
        color: #333;
    }

    .font-weight-bold {
        font-weight: bold;
    }

    .icon {
        margin-right: 8px;
    }
</style>

<div class="product-details-card">
    <!-- Product Photo -->
    <div class="carousel-item active">
        <img class="w-75 h-auto mx-auto d-block" src="{{ asset('uploads/produits/' ~ oneproduct.photo) }}" alt="Image">
    </div>

    <!-- Product Price -->
    <h3 class="font-weight-bold mb-4">{{ oneproduct.prix ~ ' DT' }}</h3>

    <!-- Product Category -->
    <h5 class="font-weight-bold mb-4">
        <i class="fa-solid fa-layer-group icon"></i>
        {{ ' ' ~ oneproduct.categorie.nomCategorie }}
    </h5>

    <!-- Product User Information -->
    <h5 class="font-weight-bold mb-4">
        <i class="fa-solid fa-user icon"></i>
        {{ ' ' ~ oneproduct.utilisateur.nom ~ ' ' ~ oneproduct.utilisateur.prenom }}
    </h5>

    <!-- Product User Telephone -->
    <h5 class="font-weight-bold mb-4">
        <i class="fa-solid fa-phone icon"></i>
        {{ ' ' ~ oneproduct.utilisateur.telephone }}
    </h5>
    <h5 class="font-weight-bold mb-4">{{ oneproduct.descriptionProduit }}</h5>
</div>

{% endblock %}