{% extends "baseBackOffice.html.twig" %}
{% block title %}Réclamations{% endblock %}
{% block body %}

<div class="details">
    <div class="recentOrders">
        <div class="cardHeader">


           <h2>Respond to Complaint</h2>
        </div>
{{ form_start(form3A602, {'attr': {'novalidate': 'novalidate'}}) }}
<table>
        <tr>
  
        <td>
            {{ form_label(form3A602.titreR, 'Reason of Complaint') }}

            {{ form_widget(form3A602.titreR) }}

            {{ form_errors(form3A602.titreR) }}
        </td>
        <td>
            {{ form_label(form3A602.descriptionR, 'Description') }}
            
            {{ form_widget(form3A602.descriptionR) }}
            
            {{ form_errors(form3A602.descriptionR) }}
        </td>

        </tr>
</table>
{{ form_end(form3A602) }}
    </div>
</div>

    
{% endblock %}